[Unit]
Description=gost
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
DynamicUser=true
LimitNOFILE=2000000
ExecStart=/usr/bin/gost -C /etc/gost/gost.yaml

[Install]
WantedBy=multi-user.target
